ColumnLimit: 100

UseTab: Always
IndentWidth: 4
TabWidth: 4

AlignAfterOpenBracket: BlockIndent

AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

IndentCaseLabels: true
  
Cpp11BracedListStyle: false

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false

PenaltyReturnTypeOnItsOwnLine: 5000
